* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: black;
    color: white;
    overflow-x: hidden;
}

/* ================= CONFIG GENERAL ================= */

.pantalla {
    width: 1440px;
    height: 1024px;
    margin: 0 auto;
    position: relative;
    display: flex;
    overflow: hidden;
}

/* ================= SECCIÓN 1 ================= */

.seccion1 {
    background: url("fondo.jpg") no-repeat center center/cover;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
}

.titulo {
    position: relative;
    font-size: 95px;
    color: #86e3ff;
    font-weight: bold;
    line-height: 1.1;
    z-index: 2;
}

.header-info {
    position: absolute;
    bottom: 40px;
    width: 100%;
    padding: 0 80px;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    z-index: 2;
}

.nombre {
    transform: translateX(-50px);
}

.rol {
    transform: translateX(-40px);
}

/* ================= SECCIÓN 2 ================= */

.seccion2 {
    background: linear-gradient(#000000, #004d80);
    display: flex;
    align-items: center;
}

.contenedor {
    display: flex;
    width: 80%;
    margin: auto;
    gap: 60px;
}

.perfil {
    width: 400px;
    border-radius: 14px;
    object-fit: cover;
}

.texto h2,
.texto h3 {
    position: relative;
    padding-bottom: 6px;
}

.texto h2::after,
.texto h3::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 80%;
    height: 3px;
    background: #86e3ff;
}

.texto h2 {
    font-size: 48px;
}

.texto h3 {
    margin-top: 30px;
    font-size: 28px;
}

.texto p,
.texto ul li {
    font-size: 22px;
}

/* ================= SECCIÓN 3 ================= */

.seccion3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 80px;
    gap: 70px;
    background: linear-gradient(to bottom, #004d80, #0000);
}

.tarjeta {
    display: flex;
    align-items: center;
    gap: 40px;
}

.icono {
    width: 150px;
    height: auto;
}

.info h3 {
    font-size: 40px;
    margin-bottom: 10px;
}

.info p {
    font-size: 24px;
    margin: 4px 0;
}

.info a {
    color: #86e3ff;
    text-decoration: none;
    font-weight: bold;
}

.contacto {
    margin-top: 50px;
    font-size: 28px;
}

.contacto a {
    color: #86e3ff;
    font-weight: bold;
}
