* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: black;
    color: white;
    overflow-x: hidden;
}


.pantalla {
    width: 1440px;
    height: 1024px;
    margin: 0 auto;
    position: relative;
    display: flex;
    overflow: hidden;
}


.seccion1 {
    background: url("fondo.avif") no-repeat center center/cover;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
}

.titulo {
    position: relative;
    font-size: 95px;
    color: #86e3ff;
    font-weight: bold;
    line-height: 1.1;
    z-index: 2;
}

.header-info {
    position: absolute;
    bottom: 40px;
    width: 1440px;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 80px;
    display: flex;
    justify-content: space-between;
    font-size: 22px;
    z-index: 2;
}

.header-info .nombre {
    transform: translateX(-60px);
}

.header-info .descripcion {
    transform: translateX(60px);
}


.seccion2 {
    background: linear-gradient(#000000,#004d80);
    display: flex;
    align-items: center;
}

.contenedor {
    display: flex;
    width: 80%;
    margin: auto;
    gap: 50px;
}

.perfil {
    width: 350px;
    height: 420px;
    border-radius: 10px;
    object-fit: cover;
}

.texto h2, .texto h3 {
    font-size: 40px;
    border-bottom: 3px solid #86e3ff;
    width: fit-content;
    padding-bottom: 5px;
}

.texto h3 {
    margin-top: 30px;
}

.texto p, .texto li {
    font-size: 22px;
    margin-top: 10px;
}

.seccion3 {
    background: #004d80;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;  
    align-items: center;
    padding: 40px 0 70px 0;        
    gap: 40px;
}

.skills-title {
    font-size: 48px;
    font-weight: bold;
    color: white;
    border-bottom: 3px solid #86e3ff;
    margin-top: 10px;              
    text-align: center;
}

.skills-grid {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 200px;                     
    justify-items: center;
    margin-top: 200px;   
}

.skills-grid img {
    width: 150px;                 
    object-fit: contain;
    filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.35));
    transition: transform 0.25s;
}

.skills-grid img:hover {
    transform: scale(1.12);
}

.seccion4 {
    background: linear-gradient(#004d80, #000000);
    flex-direction: column;
    padding: 90px 90px;
    gap: 70px; 
}

.proyecto-row {
    display: flex;
    align-items: center;
    gap: 55px; 
}

.icono {
    width: 170px;   
    height: 170px;
    object-fit: contain;
}

.proyecto-texto h3 {
    font-size: 40px;    
    border-bottom: 0px solid #86e3ff;
    margin-bottom: 1px;
}

.proyecto-texto p {
    font-size: 24px;     
    margin: 10px 0;
}

.proyecto-texto a {
    font-size: 24px;
    color: #86e3ff;
}

.contacto {
    font-size: 26px;
    margin-top: 20px;    
    line-height: 1.4;      
    text-align: left;      
}

.contacto a {
    color: #86e3ff;
    text-decoration: none;
}